/* Start Variables */
:root {
  --first-color: #ff3400;
  --second-color: #918ca4;
  --third-color: #1b0760;
  --fourth-color: #2584ff;
  --fifth-color: #00d9ff;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
}
/* End Variables */

/* Start Global Rules */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 10px; /* vertical */
  height: 10px; /* horizontal */
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: var(--fourth-color);
}
body {
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
 
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Header */
header {
  background-color: black;
  padding: 10px 0;
  min-height: 72px;

}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .logo img {
  max-height: 50px;
}
header .container ul {
  flex: 1;
  align-items: center;
 display: flex;
 justify-content: flex-end;
}


header .container ul li a {
  padding: 15px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: white;
  font-size: 1.3rem;
  transition: var(--main-transition);
}
header .container ul li a::after {
  content: "";
  position: absolute;
  width: calc(100% - 30px) ;
  height: 2px;
  bottom: 0;
  left: 15px;
  transform: translateX(-150%);
  background-color: var(--first-color);
  transition: var(--main-transition);
}
header .container ul li a:hover {
  color: var(--first-color);
}
header .container ul li a:hover::after {
  transform: translateX(0);
}

@media (max-width:767px) {
  header .container {
    flex-direction: column;
  }
  header .container ul li a {
    font-size: 16px;
  }
}
/* End Header */


/* Start landing */
.landing {
  position: relative;
  width: 100%;
  height: calc(100vh - 78px);
  display: grid;
  place-items: center;
  

}
.landing::before  {
content: "";
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
background-color: #000;
z-index: -1;
transform-origin: left top;
transform: skewY(-2deg);
}
.landing .container {
  display: grid;
  grid-template-columns: 1fr 500px;
  place-items:center ;
  gap: 30px;

}

.landing .container img {
  width:100%;
}
.landing .container .left h1 {
  color: white;
  width: fit-content;
  font-size: 5rem;
  margin: 0;
}

.landing .container .left p {
  margin: 10px 0;
  color: var(--second-color);
}
.landing .container .left  .button a{
  margin: 10px 0;
  font-size: 1.4rem;
  display: inline-block;
 color: white;
 text-transform: uppercase;
 padding:15px 30px;
 background-color: var(--first-color);
 border-radius: 50px;
}
@media (max-width:991px) {
  .landing {
    height: fit-content;
    padding: 50px 0;
  }
  .landing .container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .landing .container .left h1 {
    font-size: 3rem;
  }
  .landing .container .left  .button a {
    font-size: 1.1rem;
  }
  
}
/* End Landing */

/* Start pricing */
.pricing {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  
}
.pricing .container > h1 {
  text-align: center;
 color: var(--third-color);
 margin: 0 0 10px;
 font-size: 2.5rem;
}
.pricing .container > p {
  text-align: center;
  color: var(--second-color);
}
.pricing .container .search {
  display: flex;
  margin: 30px auto;
  width: 50%;
  background-color: white;
  border-radius: 50px;
  padding: 8px;
  box-shadow: 0 0 25px 2px rgba(0, 0, 0, 0.2);
}

.pricing .container .search input[type="text"] {
  padding: 10px;
  outline: none;
  border: none;
  flex: 1;
  margin-left: 5px;
}
.pricing .container .search .btn {
  background-color: var(--first-color);
  color: white;
  width: fit-content;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
}
.pricing .container .search .btn img {
  width: 25px;
  height: 25px;
  color: white;
}
.pricing .container .search .btn span {
  font-size: 18px;
  padding-left: 6px;
}

@media (max-width:991px) {
  
  .pricing .container .search {
    width: 70%;
  }
}
@media (max-width:767px) {
  .pricing .container > h1 {
    font-size: 2rem;
  }
  .pricing .container .search {
    width: 100%;
    padding: 4px;
  }
  .pricing .container .search input[type="text"] {
    min-width: 200px;
  }
  .pricing .container .search .btn {
    padding: 5px;
  }
  .pricing .container .search .btn img {
    width: 16px;
    height: 16px;
  }

  .pricing .container .search .btn span {
    font-size: 12px;
  }
}

.pricing .container ul.domain {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;

}

.pricing .container ul.domain li:first-of-type {
  background-color: var(--fourth-color);
  border-radius: 50px;
  color: white;
  padding: 15px;
  font-size: 1.2rem;
  font-weight: bold;
}
.pricing .container ul.domain li:not(:first-of-type) {
  color: var(--third-color);
  font-size: 1.2rem;
  font-weight: bold;
}
.pricing .container section {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 30px;
}
.pricing .container section .box {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: var(--main-transition);
}
.pricing .container section .box:hover  {
   transform: perspective(200px) translateZ(6px);
}
.pricing .container section .box:nth-child(2) {
  transform: translateY(-15px);
  position: relative;
}
.pricing .container section .box:nth-child(2) .popular {
  position: absolute;
  padding: 4px 40px;
  font-size: 20px;
  color: white;
  background-color: var(--third-color);
  top: 10px;
  right: -33px;
  transform-origin: center bottom;
  transform: rotate(90deg);
}
.pricing .container section .box:nth-child(2) .popular::after {
  content: "";
  position: absolute;
  border: 25px solid;
  border-color: transparent var(--fourth-color) transparent transparent;
  right: -2px;
  top: 50%;
  transform: translate(0%,-50%);

}
.pricing .container section .box:nth-child(2):hover {
  transform: perspective(200px) translate3d(0,-15px,6px);
}

@media (max-width:1199px) {
  .pricing .container section .box:nth-child(2) {
    transform: translateY(0);
  }
  .pricing .container section .box:nth-child(2):hover {
    transform: perspective(200px) translate3d(0,0,6px);
  }
}

.pricing .container section .box .head {
  padding: 20px;
  color: white;
  background-color: var(--fifth-color);

}
.pricing .container section .box:nth-child(2) .head {
 background-color: var(--fourth-color);
 
}

.pricing .container section .box .head .line:nth-child(2) {
  padding: 15px 0;
}
.pricing .container section .box .head .line:nth-child(2) > span > span{
 font-size: 2.5rem;
}
.pricing .container section .box .head .line:nth-child(2) > span {
  font-size: 0.9rem;
}
.pricing .container section .box .head .line:nth-child(2) > span + span {
  margin-left: 40px;
  font-size: 0.9rem;
  background-color:#67cdf1 ;
  padding:2px 8px;
  border-radius: 50px;
}
.pricing .container section .box .head .line:nth-child(3) {
  font-size: 20px;
 font-weight: 500;
}

.pricing .container section .box  .content {
  padding: 20px 15px;
}
.pricing .container section .box  .content li {
padding-bottom: 40px;
font-size: 18px;
}
.pricing .container section .box  .button {
  padding: 0 15px;
  margin: 0 auto 40px;
  width: fit-content;
}
.pricing .container section .box  .button a {
  border-radius: 50px;
  color: var(--third-color);
  border: 2px solid var(--third-color);
  padding: 8px 60px;
  transition: var(--main-transition);
}
.pricing .container section .box  .button a:hover {
  background-color: var(--third-color);
  color: white;
}
/* End pricing */

/* Start Hosting */
.hosting  {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.hosting .container > h1 {
  color: var(--third-color);
  margin-bottom: 15px;
}
.hosting .container > p {
color: var(--second-color);
font-size: 18px;
}
.hosting .container > h1, .hosting .container > p {
  text-align: center;
}
.hosting .container .content {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 30px;
}
@media (max-width:767px) {
  .hosting .container .content {
    grid-template-columns: 1fr;
  }
}
.hosting .container .col .image {
  padding: 8px;
  width: fit-content;
  border-radius: 15px;
  background-color: #eeeeee;
}
.hosting .container .col .image img.icon {
  width: 32px;
  height: 32px;
}

.hosting .container .col img:not(.icon) {
  width: 100%;
}

.hosting .container .col h3 {
  font-size: 2rem;
  color: var(--third-color);
  margin: 10px 0 15px;
}
.hosting .container .col h3  + p {
  color:  var(--second-color);
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 15px;
}
.hosting .container .col a {
  position: relative;
  color: var(--first-color);
  font-weight: 600;
}
.hosting .container .col a::after {
  content: "-->";
  position: absolute;
  color: var(--first-color);
  right: -40px;
  top: 50%;
  transform: translateY(-50%);

}
.hosting .container .col a:hover::after {
 animation: arrow-left-right 1s  infinite  ;
}



/*  Start Control */

section.control {
  background-color: #000;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
}
section.control .container {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
section.control .container h1 {
color: white;
text-align: center;
margin:0 0 40px ;
font-size: 2.5rem;
}
section.control .container .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 40px;
}
@media (max-width:991px) {
  section.control .container .row {
    grid-template-columns: 1fr;
  }
}
section.control .container .row .col:first-child img  {
max-width: 500px;
}
section.control .container .row .col:last-child h2 {
 color: white;
}
section.control .container .row .col:last-child p {
  color: var(--second-color);
  padding: 10px 0 25px ;
  line-height: 1.4;

}
section.control .container .row .col:last-child .image {
  padding: 8px 8px 4px 8px;
  width: fit-content;
  border-radius: 15px;
  background-color: #eeeeee;

}
section.control .container .row .col:last-child .image img {
   width: 40px;
   height: 40px;
}
section.control .container .row .col:last-child .line {
  display: flex;
  gap: 15px;
}

section.control .container .row .col:last-child .line .image {
  align-self: flex-start;
}

/* End Control */



/* Start testimonials */
.testimonials {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.testimonials .container > h1 {
  color: var(--third-color);
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 15px;
}
.testimonials .container > p {
  text-align: center;
  color: var(--second-color);
  font-size: 18px;
}
.testimonials .container .card {
  margin-top: 30px;
}
.testimonials .container .card {
border-radius: 30px;
padding: 20px;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
display: flex;
gap: 30px;
}
@media (max-width:767px) {
  .testimonials .container .card {
    flex-direction: column;
    align-items: center;
  }
}

.testimonials .container .card  img {
border-radius: 15px;
overflow: hidden;
}
.testimonials .container .card .right p {
  color: #67579e;
  font-size: 1.2rem;
  line-height: 1.7;
  font-style: italic;
  font-weight: 500;
}
.testimonials .container .card .right .text {
margin-top: 20px;
width: fit-content;
display:flex;
gap: 20px;

}
.testimonials .container .card .right .text {
  display: flex;
  gap: 10px;
}

.testimonials .container .card .right .text > div span:first-child {
  color: var(--third-color);

  font-size: 22px;
  font-weight:600;
}
.testimonials .container .card .right .text .line {
  width: 50px;
  margin-top: 10px;
  height: 3px;
  background-color: var(--fifth-color);
}
.testimonials .container .card .right .text > div span:last-child {
  color: var(--second-color);
  font-size:14px;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;

}
/* End testimonials */

/* Animation */
@keyframes arrow-left-right {


  0%, 100% {
    transform: translate(0px, -50%);

  }
  25% {
    transform: translate(-10px, -50%);
  }
  50% {
    transform: translate(10px, -50%);
    
  }
  75% {
    transform: translate(-10px, -50%);
  }
  
}
/* End Hosting */